@model Vidly.ViewModels.RandomMovieViewModels

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/MyLayout/MyLayout.cshtml";
}

@{
    var Text = Model.customers.Count >= 5 ? "Popular" : "Standart";
} 
<h2>@Model.movie.Name  (@Text)</h2>


<ul>
    @foreach (var customer in Model.customers)
    {
        <li>@customer.Name</li>
    }
</ul>
